.pallete-container {
 margin: 10px;
 padding: 20px;
 max-width: 16%;
 width: 15%;
 flex-grow:1;
 border: none;
 border-radius: 10px;
 background-color: rgba(0, 0, 0, 0.1);
}

.circle-color-block {
 width: 20px;
 height: 20px;
 border: none;
 border-radius: 50%;
 cursor: pointer;
}

#red-bg {
 background-color: red;
}
#blue-bg {
 background-color: blue;
}
#green-bg {
 background-color: green;
}
#black-bg {
 background-color: black;
}
#white-bg {
 background-color: white;
}